<section class="section">
  <h2>Empty response reaction</h2>
  <div>
    <button (click)="emptyResponseOld()">Run with `toPromise()`</button>
    <button (click)="emptyResponseNew()">Run with `lastValueFrom()`</button>
  </div>
</section>

<section class="section">
  <h2>Multi value observable</h2>
  <div>
    <button (click)="multivalueOld()">Run with `toPromise()`</button>
    <button (click)="multivalueFirst()">Run with `firstValueFrom()`</button>
    <button (click)="multivalueLast()">Run with `lastValueFrom()`</button>
  </div>
</section>

<section class="section">
  <h2>Creating promise</h2>
  <button (click)="createPromise()">Create promise</button>
</section>
